body{
    display: grid;
    margin: 0;
    grid-template-rows: 100px auto auto;
    grid-template-areas: "header" "main_content" "footer";
    background-color: rgb(248,186,186);
    gap: 10px;
    font-family: Manrope, sans-serif;
    font-style: normal;
        font-weight: 350;
    font-size: 15px;
}

header{
    grid-area: header;
    justify-self: center;
    align-self: center;
    font-family: Manrope, sans-serif;
    font-style: normal;
        font-weight: 350;
    font-size: 20px;
}

#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "main_map content";
    display: grid;
}

#contents{
    grid-area: content;
}

#the_map{
    grid-area: main_map;
    height:100vh;
    margin: 30px

}


/*tab style*/
.tabcontent {
    display: none;
    /* background-color: #edede9; */
    background-color: #d0ceff;
    padding: 6px 12px;
    border: none;
    border-top: none;
}

#theSurvey{
    grid-area: survey;
    text-align: center;
}

#placeForButtons{
    grid-area: buttonHome;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
}
