/* font */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    display: grid;
    grid-auto-rows: auto 1fr;
    grid-template-areas: "header" "main_content" "footer";
    background-color: rgb(19, 27, 61);
    color:rgb(255, 255, 255);
    row-gap: 20px;
    column-gap: 10px;
    font-family: 'Montserrat', sans-serif;
}

header {
    grid-area: header;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .logo-and-title {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: 20px; /* You can adjust the space between the logo and the title */
  }
  
  .logo {
    width: 100%;
    max-width: 54px;
    height: auto;
    align-self: center;
  }
  
  h1 {
    font-size: 36px;
    background: linear-gradient(45deg, #FFD7D7, #FFE7A6, #CBE6FF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  h2{
    font-size: 28px;
    justify-content: center;
    align-items: center;
  }

  h3{
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }
#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "maptitle maptitle" "main_map content";
    display: grid;
    gap: 12px;
}
#maptitle{
    grid-area: maptitle;
    justify-self: center;
    align-self: center;
}

#contents{
    grid-area: content;
}

#the_map{
    height:80vh;
    grid-area: main_map;
}

html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

/* navigation bar */
.links {
	background-color: #123;
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-weight: 300;
}
.links > a {
	color: #9ab;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
.links > a:hover {
	background: #d085149c;
	color: #adf;
}
.links > .line {
	background: rgb(34, 56, 79);
	height: 1px;
	pointer-events: none;
}

/* The Magic */
.links {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
    justify-items: center;
}
.links > .line {
	opacity: 0;
	transition: all .5s;
    position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.links > a:hover ~ .line {
	opacity: 1;
}

th {
	border: 0px solid #ddd;
	padding: 3px;
  }
  
 tr:nth-child(even){background-color: #f2f2f2;}
  
 tr:hover {background-color: #ddd;}
  
th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #a7d09b;
	color: white;
  }

.card{
    background-color: rgb(90, 106, 176);
    color:rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 32px #0003;
}
